<div id="<%= dom_id post %>" xmlns="http://www.w3.org/1999/html">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

<p>
  Posted <%= time_tag post.created_at, "data-local": "time-ago" %>
</p>

  <p>
    <strong>Context:</strong>
    <%= post.context %>
  </p>

</div>
